tr,
td,
th {
 @apply max-w-md overflow-x-auto overflow-y-hidden border-[2px] border-white/10 p-2;
}

pre {
 word-wrap: normal;
 @apply select-all overflow-x-auto overflow-y-hidden break-normal rounded-sm bg-white/10 px-2 py-1;
}

::selection {
 @apply bg-white/10;
}

* {
 @apply box-border;
 scrollbar-color: #08152b transparent;
 scrollbar-width: thin;
}

::-webkit-scrollbar {
 @apply w-[10px];
}

::-webkit-scrollbar-track {
 @apply rounded-xl bg-[#040d21];
}

::-webkit-scrollbar-thumb {
 @apply rounded-xl bg-[#1f2532];
}

::-webkit-scrollbar-thumb:hover {
 @apply bg-[#292f3d];
}

::-webkit-scrollbar-thumb:active {
 @apply bg-[#343b4a];
}
