tr,
td,
th {
 @apply max-w-md overflow-x-auto overflow-y-hidden border-[1px] border-neutral-800 p-2;
}

pre {
 word-wrap: normal;
 @apply select-all overflow-x-auto overflow-y-hidden break-normal rounded-sm bg-neutral-800 px-2 py-1;
}

::selection {
 @apply bg-white/10;
}

* {
 @apply box-border;
 scrollbar-color: #262626 transparent;
 scrollbar-width: thin;
}

::-webkit-scrollbar {
 @apply w-[10px];
}

::-webkit-scrollbar-track {
 @apply rounded-xl bg-neutral-800;
}

::-webkit-scrollbar-thumb {
 @apply rounded-xl bg-neutral-700;
}

::-webkit-scrollbar-thumb:hover {
 @apply bg-neutral-600;
}

::-webkit-scrollbar-thumb:active {
 @apply bg-neutral-500;
}

::selection {
 @apply text-white;
}
