---
import Button from "../components/Button.astro";
import Description from "../components/Description.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Profile views - create your own badges">
 <main>
  <Header text="404 - Page not found" id="404" />
  <Description text="This page does not exist." />
  <div class="mt-2 flex items-center justify-center">
   <Button href="/" body="Go back home" />
  </div>
 </main>
</Layout>
