---
import Button from "@/components/Button.vue";
import Description from "@/components/Description.astro";
import Header from "@/components/Header.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Profile views - create your own badges">
 <section class="flex h-screen flex-col items-center justify-center">
  <Header>404 - Page not found</Header>
  <Description>This page does not exist! </Description>
  <div class="mt-6 flex items-center justify-center">
   <a href="/">
    <Button variant="primary">Go back to home</Button>
   </a>
  </div>
 </section>
</Layout>
