---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Description from "../components/Description.astro";
import Button from "../components/Button.astro";
---

<Layout title="Profile views - create your own badges">
 <main>
  <Header text="404 - Page not found" />
  <Description text="This page does not exist." />
  <Button href="/" body="Go back home" />
 </main>
</Layout>
