---
import BadgePreview from "@/components/BadgePreview";
import { Button } from "@/components/Button";
import Description from "@/components/Description.astro";
import Header from "@/components/Header.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Profile views - create your own badges">
 <section class="relative grid w-full grid-cols-1 gap-x-4 overflow-hidden border-x border-b border-neutral-800 p-6 lg:grid-cols-2 lg:p-12">
  <div class="flex flex-col items-start justify-center lg:col-span-1">
   <Header id="main">@igorkowalczyk/profile-views</Header>
   <Description>Create your own badge that will count views anywhere you want!</Description>
   <div class="mt-4 flex items-center justify-center gap-4">
    <a href="/docs">
     <Button variant="primary">Documentation</Button>
    </a>
    <a href="/github" target="_blank">
     <Button variant="secondary">Github</Button>
    </a>
   </div>
  </div>
  <div class="lg:flex lg:items-center lg:justify-center lg:col-span-1 hidden">
   <img src="/logo.png" class="aspect-square size-52" alt="Profile views" loading="eager" />
  </div>
 </section>

 <section class="border-x border-b border-neutral-800" id="preview">
  <BadgePreview client:visible defaultUrl={Astro.site?.toString()} />
 </section>
</Layout>
