---
export interface Props {
 body: string;
 href: string;
}

const { href, body } = Astro.props;
---

<a href={href} class="group mx-auto mt-2 flex w-fit rounded-md border border-transparent bg-white/[10%] px-4 py-2 font-inter text-sm font-medium text-white duration-200 hover:bg-white/[15%] motion-reduce:transition-none">
 {body}
</a>
