---
export interface Props {
 body: string;
 href: string;
}

const { href, body } = Astro.props;
---

<a href={href} class="group mt-2 mx-auto flex rounded-md w-fit border border-transparent px-4 py-2 font-inter text-sm font-medium duration-200 motion-reduce:transition-none bg-white/[10%] text-white hover:bg-white/[15%]">
 {body}
</a>
