---
import type { HTMLTag, Polymorphic } from "astro/types";

type Props<As extends HTMLTag = "p"> = Polymorphic<{ as: As }>;

const { ...rest } = Astro.props;
---

<p class="mt-2 text-lg text-neutral-400" {...rest}>
 <slot />
</p>
