---
export interface Props {
 text: string;
 id?: string;
}

const { text, id } = Astro.props;
---

<h2 id={id} class="mt-2 text-center font-inter text-lg font-medium opacity-80 md:text-xl">
 {text}
</h2>
