---
export interface Props {
 text: string;
 id: string;
}

const { text, id } = Astro.props;
---

<h1 id={id} class="bg-gradient-to-r from-[#a2facf] to-[#64acff] box-decoration-clone bg-clip-text leading-[inherit] text-center font-inter text-4xl text-[51px] font-semibold tracking-[-0.03em] text-fill-transparent">{text}</h1>
