---
export interface Props {
 text: string;
 id: string;
}

const { text, id } = Astro.props;
---

<h1 id={id} class="relative mx-0 mb-2 text-center font-inter text-2xl font-black tracking-[-0.03em] text-white md:text-4xl">
 {text}
</h1>
