---
import type { HTMLTag, Polymorphic } from "astro/types";

type Props<As extends HTMLTag = "header"> = Polymorphic<{ as: As }>;

const { ...rest } = Astro.props;
---

<h1 class="relative m-0 text-3xl font-black tracking-[-0.03em] text-white duration-300" {...rest}>
  <slot />
</h1>
