---
export interface Props {
 title: string;
}

const { title } = Astro.props;
import "../styles/main.css";
---

<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="robots" content="follow, index" />
  <link rel="icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png" />
  <link rel="manifest" href="/favicons/site.webmanifest" />
  <link rel="shortcut icon" href="/favicons/favicon.ico" />
  <meta name="msapplication-TileColor" content="#091430" />
  <meta name="msapplication-config" content="/favicons/browserconfig.xml" />
  <meta name="theme-color" content="#091430" />
  <meta name="description" content="Create your own badges for your GitHub profile." />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Profile Views" />
  <meta property="og:title" content="Profile Views - Create your own badges" />
  <meta property="og:description" content="Create your own badges for your GitHub profile." />
  <meta property="og:url" content="https://github-views.deno.dev" />
  <meta property="og:image" content="https://github-views.deno.dev/og-image.png" />
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:creator" content="@igorkowalczyk" />
  <meta name="generator" content={Astro.generator} />
  <title>
   {title}
  </title>
 </head>
 <body>
  <div class="flex min-h-screen items-center justify-center bg-background bg-repeat-round bg-grid-[rgba(255,255,255,0.05)]">
   <div class="m-12 max-w-2xl rounded-[10px] border border-white/20 bg-background-secondary font-inter text-white shadow-main">
    <div class="flex-none border-b border-slate-500/30"><div class="flex h-8 items-center space-x-1.5 px-3"><div class="h-2.5 w-2.5 rounded-full bg-slate-600"></div><div class="h-2.5 w-2.5 rounded-full bg-slate-600"></div><div class="h-2.5 w-2.5 rounded-full bg-slate-600"></div></div></div>
    <div class="px-12 py-6">
     <slot />
    </div>
   </div>
  </div>
 </body>
</html>
